{% extends 'base.html.twig' %}
{% block title %}
    Pokemon database
{% endblock %}

{% block body %}
    <h1>Welcome, Visitor!</h1>
    <p>Gotta catch 'em all!</p>
    {% block pokeContent %}{% endblock %}
{% endblock %}
